<div id="search_area" class="col-sm-8 content-wrappers">
  <div class="row">
    <div class="search-wrapper">
      <div class="content-wrappers">
        <h1 class="text-capitalize">your favorite gems</h1>
      </div>
      <div id="" class="favorite-gems">
        <table class="table">
        </table>
      </div>
    </div>
  </div>
</div>
